:root {
  --black-0: #060616;
  --black-1: #1f1f22;
  --white-0: #f9f8f9;
  --white-1: #ffffff;
  --white-2: #dddddd;
  --neon-0: #c1fd3a;
  --primary-font: "Montserrat", sans-serif;
  --heading-font: "Oswald", sans-serif; }

@keyframes marquee {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  background-color: var(--white-0);
  width: 100%;
  max-width: 180rem;
  margin-inline: auto; }

.cardBlack {
  background-color: var(--black-0); }

.cardNeon {
  background-color: var(--neon-0); }

.headingParaBlack {
  font-family: var(--primary-font);
  font-size: 2.4rem;
  font-weight: 300;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: var(--black-0); }

.cardParaBlack {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 400;
  color: var(--black-0);
  padding: 1rem 0; }

.cardParaWhite {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 400;
  color: var(--white-0);
  padding: 1rem 0; }

.workCardPara {
  font-family: var(--primary-font);
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--black-0); }

.collaborateParaWhite {
  font-family: var(--primary-font);
  font-size: 2.4rem;
  font-weight: 300;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: var(--white-0); }

.headingBlack {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 12rem;
  color: var(--black-0);
  text-transform: uppercase;
  letter-spacing: -0.5rem;
  line-height: 1; }

.headingBlackMedium {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 10rem;
  color: var(--black-0);
  text-transform: uppercase;
  letter-spacing: -0.5rem;
  line-height: 1; }
  @media only screen and (max-width: 32.5em) {
    .headingBlackMedium {
      font-size: 8rem; } }

.headingWhiteMedium {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 14rem;
  color: var(--white-0);
  text-transform: uppercase;
  letter-spacing: -0.5rem;
  line-height: 1; }
  @media only screen and (max-width: 32.5em) {
    .headingWhiteMedium {
      font-size: 8rem; } }

.headingHollow {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 12rem;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--black-0);
  letter-spacing: -0.5rem;
  line-height: 1; }

.headingHollowMedium {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 10rem;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--black-0);
  letter-spacing: -0.5rem;
  line-height: 1; }
  @media only screen and (max-width: 32.5em) {
    .headingHollowMedium {
      font-size: 8rem; } }

.headingHollowMediumWhite {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 14rem;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--white-0);
  letter-spacing: -0.5rem;
  line-height: 1; }
  @media only screen and (max-width: 32.5em) {
    .headingHollowMediumWhite {
      font-size: 8rem; } }

.heading5White {
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 600;
  color: var(--white-0); }

.heading5Black {
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 600;
  color: var(--black-0); }

.heading6Black {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black-0);
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-decoration: none; }

.heading6Neon {
  font-family: var(--primary-font);
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--neon-0);
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-decoration: none;
  letter-spacing: 0.1rem; }

.buttonBlack {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--black-0);
  color: var(--white-0);
  padding: 1.5rem 2rem;
  border-radius: 30px;
  transition: all 0.2s;
  letter-spacing: 1px; }
  .buttonBlack:hover {
    background-color: var(--white-1);
    color: var(--black-0); }

.buttonNeonSlim {
  text-decoration: none;
  background-color: var(--neon-0);
  color: var(--black-0);
  padding: 1.5rem 2rem;
  border-radius: 30px;
  transition: all 0.2s;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .buttonNeonSlim:hover {
    background-color: var(--black-0);
    color: var(--white-0); }

.footer {
  background-color: var(--black-0); }
  .footer .footerContainer .collaborate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 10%; }
    @media only screen and (max-width: 62.5em) {
      .footer .footerContainer .collaborate {
        padding: 5% 2%; } }
    .footer .footerContainer .collaborate__heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .footer .footerContainer .collaborate .line {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      text-align: center !important; }
    .footer .footerContainer .collaborate .word {
      transform: translateY(10rem);
      transition: all 0.3s ease-out; }
    .footer .footerContainer .collaborate__description {
      padding-top: 4rem;
      padding-bottom: 6rem; }
    .footer .footerContainer .collaborate__button--link {
      padding: 2rem 3rem;
      font-size: 1.4rem; }
      .footer .footerContainer .collaborate__button--link:hover {
        background-color: var(--white-0);
        color: var(--black-0); }
  .footer .footerContainer .footerListContainer {
    width: 100%;
    padding: 5% 0; }
    @media only screen and (max-width: 37.5em) {
      .footer .footerContainer .footerListContainer {
        padding: 8% 0; } }
    @media only screen and (max-width: 32.5em) {
      .footer .footerContainer .footerListContainer {
        padding: 12% 0; } }
    .footer .footerContainer .footerListContainer .footerColumnBox {
      display: flex;
      justify-content: center;
      gap: 12rem;
      padding: 0 14%; }
      @media only screen and (max-width: 62.5em) {
        .footer .footerContainer .footerListContainer .footerColumnBox {
          gap: 8rem;
          padding: 0 12%; } }
      @media only screen and (max-width: 37.5em) {
        .footer .footerContainer .footerListContainer .footerColumnBox {
          flex-direction: column-reverse;
          align-items: center; } }
      @media only screen and (max-width: 32.5em) {
        .footer .footerContainer .footerListContainer .footerColumnBox {
          gap: 6rem; } }
      .footer .footerContainer .footerListContainer .footerColumnBox .footerLogoBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        @media only screen and (max-width: 37.5em) {
          .footer .footerContainer .footerListContainer .footerColumnBox .footerLogoBox {
            align-items: center;
            gap: 2rem; } }
        .footer .footerContainer .footerListContainer .footerColumnBox .footerLogoBox .footerLogo .footerLogoImg {
          height: 5rem; }
        .footer .footerContainer .footerListContainer .footerColumnBox .footerLogoBox .copyrightBox .copyrightPara {
          font-family: var(--primary-font);
          font-size: 1.3rem;
          color: var(--white-0); }
      .footer .footerContainer .footerListContainer .footerColumnBox .footerListBoxContainer {
        display: flex;
        gap: 12rem; }
        @media only screen and (max-width: 32.5em) {
          .footer .footerContainer .footerListContainer .footerColumnBox .footerListBoxContainer {
            gap: 6rem;
            align-items: flex-start; } }
        .footer .footerContainer .footerListContainer .footerColumnBox .footerListBoxContainer .footerListBox {
          text-align: center; }
          .footer .footerContainer .footerListContainer .footerColumnBox .footerListBoxContainer .footerListBox .footerList {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.8rem; }
            .footer .footerContainer .footerListContainer .footerColumnBox .footerListBoxContainer .footerListBox .footerList a {
              text-decoration: none; }
              .footer .footerContainer .footerListContainer .footerColumnBox .footerListBoxContainer .footerListBox .footerList a li {
                font-family: var(--primary-font);
                font-size: 1.3rem;
                font-weight: 600;
                color: var(--white-0);
                text-transform: uppercase;
                list-style: none;
                letter-spacing: 0.1rem;
                transition: all 0.1s ease; }
                .footer .footerContainer .footerListContainer .footerColumnBox .footerListBoxContainer .footerListBox .footerList a li:hover {
                  color: var(--neon-0); }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px); }
  .header .headerContainer {
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 32.5em) {
      .header .headerContainer .headerBrand .brandTitleLink {
        display: none; } }
    .header .headerContainer .headerBrand .brandTitleLink .titleImage {
      width: 100%;
      height: 5rem; }
    .header .headerContainer .headerBrand .brandTitleLinkPhone {
      display: none; }
      @media only screen and (max-width: 32.5em) {
        .header .headerContainer .headerBrand .brandTitleLinkPhone {
          display: contents; } }
      .header .headerContainer .headerBrand .brandTitleLinkPhone .titleImagePhone {
        width: 100%;
        height: 5rem; }
    .header .headerContainer .headerNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4rem; }
      .header .headerContainer .headerNav .bookDemo {
        white-space: nowrap; }
      .header .headerContainer .headerNav .navButton .navButton__link svg {
        stroke-opacity: 0;
        width: 100%;
        height: 2rem;
        fill: var(--black-1); }

.featured {
  padding: 4rem 8%; }
  @media only screen and (max-width: 62.5em) {
    .featured {
      padding: 4rem 4%; } }
  .featured .featuredContainer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .featured .featuredContainer {
        flex-direction: column;
        gap: 2rem; } }
    .featured .featuredContainer .featuredTextContainer {
      min-width: 24rem;
      position: relative;
      z-index: 10; }
      .featured .featuredContainer .featuredTextContainer .featuredTextBox .featuredText {
        font-family: var(--primary-font);
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 1rem 4rem; }
    .featured .featuredContainer .featuredLogoBox {
      position: relative;
      z-index: 5;
      width: 100%;
      overflow: hidden;
      display: flex; }
      .featured .featuredContainer .featuredLogoBox .featuredLogoList {
        display: flex;
        gap: 2rem;
        position: relative;
        z-index: 2;
        animation: marquee 10s linear infinite; }
        .featured .featuredContainer .featuredLogoBox .featuredLogoList .featuredLogo img {
          height: 4rem; }

.sectionHeading {
  position: relative;
  z-index: 50; }
  .sectionHeading .headingContainer {
    max-width: 100rem;
    margin-inline: auto;
    padding: 12rem 0;
    text-align: center; }
    @media only screen and (max-width: 32.5em) {
      .sectionHeading .headingContainer {
        font-size: 8rem; } }
  .sectionHeading .banner {
    position: absolute;
    bottom: -12rem;
    right: 3rem;
    margin-left: auto;
    z-index: 100;
    transition: all 0.2s ease-in;
    overflow: hidden; }
    .sectionHeading .banner:hover {
      transform: scale(1.05); }
    @media only screen and (max-width: 62.5em) {
      .sectionHeading .banner {
        transform: scale(0.8);
        bottom: -14rem; }
        .sectionHeading .banner:hover {
          transform: scale(0.85); } }
    @media only screen and (max-width: 32.5em) {
      .sectionHeading .banner {
        transform: scale(0.6);
        bottom: -14rem;
        right: -3rem; }
        .sectionHeading .banner:hover {
          transform: scale(0.65); } }
    .sectionHeading .banner .banner__image {
      border-radius: 50%; }

.marketing .marketingContainer {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 5rem 8%; }
  @media only screen and (max-width: 62.5em) {
    .marketing .marketingContainer {
      padding: 5rem 2%; } }
  @media only screen and (max-width: 50em) {
    .marketing .marketingContainer {
      flex-direction: column;
      gap: 16rem; } }
  @media only screen and (max-width: 32.5em) {
    .marketing .marketingContainer {
      padding: 0 2%; } }
  .marketing .marketingContainer .marketingStrategy {
    min-width: 60%;
    position: sticky;
    top: 10rem; }
    @media only screen and (max-width: 50em) {
      .marketing .marketingContainer .marketingStrategy {
        position: relative; } }
    .marketing .marketingContainer .marketingStrategy .line {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
    .marketing .marketingContainer .marketingStrategy .word {
      transform: translateY(12rem);
      transition: all 0.1s; }
    @media only screen and (max-width: 50em) {
      .marketing .marketingContainer .marketingStrategy__button {
        display: flex;
        flex-direction: column; } }
    @media only screen and (max-width: 50em) {
      .marketing .marketingContainer .marketingStrategy__button--link {
        text-align: center; } }
  .marketing .marketingContainer .marketingCardContainer .marketingCardBox .marketingCard {
    margin-bottom: 1rem;
    border-radius: 10px;
    transform: scale(0.95);
    transition: all 0.3s ease-in; }
    .marketing .marketingContainer .marketingCardContainer .marketingCardBox .marketingCard:hover {
      transform: scale(1); }
    .marketing .marketingContainer .marketingCardContainer .marketingCardBox .marketingCard .cardItems {
      padding: 4rem; }
      .marketing .marketingContainer .marketingCardContainer .marketingCardBox .marketingCard .cardItems .cardIcon {
        background-color: var(--white-0);
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        font-size: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem; }
        .marketing .marketingContainer .marketingCardContainer .marketingCardBox .marketingCard .cardItems .cardIcon svg {
          height: 5rem;
          width: 5rem; }

.marketing .marketingContainer2 {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  padding: 5rem 8%; }
  @media only screen and (max-width: 62.5em) {
    .marketing .marketingContainer2 {
      padding: 5rem 2%; } }
  @media only screen and (max-width: 50em) {
    .marketing .marketingContainer2 {
      flex-direction: column;
      gap: 16rem; } }
  @media only screen and (max-width: 32.5em) {
    .marketing .marketingContainer2 {
      padding: 0 2%; } }
  .marketing .marketingContainer2 .marketingStrategy {
    min-width: 60%;
    position: sticky;
    top: 10rem; }
    @media only screen and (max-width: 50em) {
      .marketing .marketingContainer2 .marketingStrategy {
        position: relative; } }
    .marketing .marketingContainer2 .marketingStrategy .line {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
    .marketing .marketingContainer2 .marketingStrategy .word {
      transform: translateY(12rem);
      transition: all 0.1s; }
    @media only screen and (max-width: 50em) {
      .marketing .marketingContainer2 .marketingStrategy__button {
        display: flex;
        flex-direction: column; } }
    @media only screen and (max-width: 50em) {
      .marketing .marketingContainer2 .marketingStrategy__button--link {
        text-align: center; } }
  .marketing .marketingContainer2 .marketingCardContainer .marketingCardBox .marketingCard {
    margin-bottom: 1rem;
    border-radius: 10px;
    transform: scale(0.95);
    transition: all 0.3s ease-in; }
    .marketing .marketingContainer2 .marketingCardContainer .marketingCardBox .marketingCard:hover {
      transform: scale(1); }
    .marketing .marketingContainer2 .marketingCardContainer .marketingCardBox .marketingCard .cardItems {
      padding: 4rem; }
      .marketing .marketingContainer2 .marketingCardContainer .marketingCardBox .marketingCard .cardItems .cardIcon {
        background-color: var(--white-0);
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        font-size: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem; }
        .marketing .marketingContainer2 .marketingCardContainer .marketingCardBox .marketingCard .cardItems .cardIcon svg {
          height: 5rem;
          width: 5rem; }

.scrollImage {
  padding-bottom: 5%; }
  .scrollImage .scrollImageContainer {
    display: flex;
    align-items: center;
    overflow: hidden; }
    .scrollImage .scrollImageContainer .scrollImageBox {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      object-fit: cover;
      margin-left: 0; }
      .scrollImage .scrollImageContainer .scrollImageBox .scrollImageOne {
        display: flex; }
      .scrollImage .scrollImageContainer .scrollImageBox .scrollImageTwo {
        display: flex; }
      .scrollImage .scrollImageContainer .scrollImageBox .scrollImageThree {
        display: flex; }
      .scrollImage .scrollImageContainer .scrollImageBox .scrollImageFour {
        display: flex; }
  .scrollImage .descriptionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    margin-top: 8rem;
    margin-bottom: 4rem; }
    .scrollImage .descriptionBox .descriptionHeading {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .scrollImage .descriptionBox .line {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      text-align: center !important; }
    .scrollImage .descriptionBox .char {
      transform: translateY(10rem);
      transition: all 0.1s; }
    .scrollImage .descriptionBox .descriptionPara {
      padding: 3rem 10%; }
  .scrollImage .descriptionBox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    margin-top: 8rem;
    margin-bottom: 4rem; }
    .scrollImage .descriptionBox2 .descriptionHeading2 {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .scrollImage .descriptionBox2 .line {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      text-align: center !important; }
    .scrollImage .descriptionBox2 .char {
      transform: translateY(10rem);
      transition: all 0.1s; }
    .scrollImage .descriptionBox2 .descriptionPara {
      padding: 3rem 10%; }
  .scrollImage .runningLogo {
    overflow-x: hidden;
    padding-bottom: 10rem;
    width: 100%;
    display: flex;
    transition: 300ms ease; }
    @media only screen and (max-width: 32.5em) {
      .scrollImage .runningLogo {
        padding-bottom: 15rem; } }
    .scrollImage .runningLogo .runningLogoBox {
      animation: marquee 20s linear infinite; }
      .scrollImage .runningLogo .runningLogoBox .allLogos {
        height: 150px; }
        @media only screen and (max-width: 32.5em) {
          .scrollImage .runningLogo .runningLogoBox .allLogos {
            height: 70px;
            background-size: contain !important; } }

.ourWork {
  position: relative; }
  .ourWork .headingBox {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -15rem;
    left: 0; }
    .ourWork .headingBox .workHeading {
      font-family: var(--heading-font);
      font-weight: 600;
      font-size: 23vw;
      color: var(--black-0);
      text-transform: uppercase;
      line-height: 0.9;
      letter-spacing: -0.5rem; }
  .ourWork .ourWorkContainer {
    position: relative;
    overflow: hidden; }
    .ourWork .ourWorkContainer .workCardSlideContainer {
      overflow: hidden; }
      .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox {
        position: absolute;
        left: 0;
        top: 0rem;
        height: 100vh;
        overflow: hidden;
        display: flex; }
        .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox {
          min-width: 35rem;
          margin-left: 4rem; }
          .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox:hover .cardImageBox:after {
            opacity: 1; }
          .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox:hover .cardImage {
            transform: scale(1.4); }
          .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox:nth-of-type(2n) {
            transform: translateY(4rem); }
          .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox .cardLink {
            text-decoration: none; }
          .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox .cardImageBox {
            height: 70vh;
            min-width: 35rem;
            border-radius: 6px;
            overflow: hidden;
            position: relative; }
            @media only screen and (max-width: 32.5em) {
              .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox .cardImageBox {
                height: 65vh; } }
            .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox .cardImageBox::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: 12rem;
              width: 12rem;
              background-color: var(--neon-0);
              border-radius: 50%;
              background-repeat: no-repeat;
              background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 1024 1024' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z'%3E%3C/path%3E%3C/svg%3E");
              background-size: 4rem;
              background-position: center center;
              opacity: 0;
              transition: all 1s ease; }
            .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox .cardImageBox .cardImage {
              height: 100%;
              width: 100%;
              transition: all 1s ease;
              object-fit: cover; }
    .ourWork .ourWorkContainer .workButton {
      height: 110vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
      @media only screen and (max-width: 32.5em) {
        .ourWork .ourWorkContainer .workButton {
          height: 98vh; } }
