:root {
  --black-0: #060616;
  --black-1: #1f1f22;
  --white-0: #f9f8f9;
  --white-1: #ffffff;
  --white-2: #dddddd;
  --neon-0: #c1fd3a;
  --primary-font: "Montserrat", sans-serif;
  --heading-font: "Oswald", sans-serif; }

@keyframes marquee {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: var(--white-0); }

.cardBlack {
  background-color: var(--black-0); }

.cardNeon {
  background-color: var(--neon-0); }

.headingParaBlack {
  font-family: var(--primary-font);
  font-size: 2.4rem;
  font-weight: 300;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: var(--black-0); }

.headingBlack {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 12rem;
  color: var(--black-0);
  text-transform: uppercase;
  letter-spacing: -0.5rem;
  line-height: 1; }

.headingBlackMedium {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 10rem;
  color: var(--black-0);
  text-transform: uppercase;
  letter-spacing: -0.5rem;
  line-height: 1; }

.headingHollow {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 12rem;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--black-0);
  letter-spacing: -0.5rem;
  line-height: 1; }

.headingHollowMedium {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 10rem;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--black-0);
  letter-spacing: -0.5rem;
  line-height: 1; }

.heading5White {
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 600;
  color: var(--white-0); }

.heading5Black {
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 600;
  color: var(--black-0); }

.heading6Black {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black-0);
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-decoration: none; }

.cardParaBlack {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 400;
  color: var(--black-0);
  padding: 1rem 0; }

.cardParaWhite {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 400;
  color: var(--white-0);
  padding: 1rem 0; }

.workCardPara {
  font-family: var(--primary-font);
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--black-0); }

.buttonBlack {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--black-0);
  color: var(--white-0);
  padding: 1.5rem 2rem;
  border-radius: 30px;
  transition: all 0.2s;
  letter-spacing: 1px; }
  .buttonBlack:hover {
    background-color: var(--white-1);
    color: var(--black-0); }

.buttonNeonSlim {
  text-decoration: none;
  background-color: var(--neon-0);
  color: var(--black-0);
  padding: 1.5rem 2rem;
  border-radius: 30px;
  transition: all 0.2s;
  font-family: var(--primary-font);
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .buttonNeonSlim:hover {
    background-color: var(--black-0);
    color: var(--white-0); }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px); }
  .header .headerContainer {
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .headerContainer .headerBrand .brandTitleLink .titleImage {
      width: 100%;
      height: 5rem; }
    .header .headerContainer .headerNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4rem; }
      .header .headerContainer .headerNav .navButton .navButton__link svg {
        stroke-opacity: 0;
        width: 100%;
        height: 2rem;
        fill: var(--black-1); }

.featured {
  padding: 4rem 8%; }
  .featured .featuredContainer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .featured .featuredContainer .featuredTextContainer {
      min-width: 24rem;
      position: relative;
      z-index: 10; }
      .featured .featuredContainer .featuredTextContainer .featuredTextBox .featuredText {
        font-family: var(--primary-font);
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 1rem 4rem; }
    .featured .featuredContainer .featuredLogoBox {
      position: relative;
      z-index: 5;
      width: 100%;
      overflow: hidden;
      display: flex; }
      .featured .featuredContainer .featuredLogoBox .featuredLogoList {
        display: flex;
        gap: 2rem;
        position: relative;
        z-index: 2;
        animation: marquee 10s linear infinite; }
        .featured .featuredContainer .featuredLogoBox .featuredLogoList .featuredLogo img {
          height: 4rem; }

.sectionHeading {
  position: relative;
  z-index: 50; }
  .sectionHeading .headingContainer {
    max-width: 100rem;
    margin-inline: auto;
    padding: 12rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sectionHeading .banner {
    position: absolute;
    bottom: -12rem;
    right: 3rem;
    margin-left: auto;
    z-index: 100;
    transition: all 0.2s ease-in;
    overflow: hidden; }
    .sectionHeading .banner:hover {
      transform: scale(1.05); }
    .sectionHeading .banner .banner__image {
      border-radius: 50%; }

.marketing .marketingContainer {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  padding: 5rem 8%; }
  .marketing .marketingContainer .marketingStrategy {
    max-width: 60%;
    position: sticky;
    top: 10rem; }
    .marketing .marketingContainer .marketingStrategy .line {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
    .marketing .marketingContainer .marketingStrategy .char {
      transform: translateY(10rem);
      transition: all 0.1s; }
  .marketing .marketingContainer .marketingCardContainer .marketingCardBox .marketingCard {
    margin-bottom: 1rem;
    border-radius: 10px;
    transform: scale(0.95);
    transition: all 0.3s ease-in; }
    .marketing .marketingContainer .marketingCardContainer .marketingCardBox .marketingCard:hover {
      transform: scale(1); }
    .marketing .marketingContainer .marketingCardContainer .marketingCardBox .marketingCard .cardItems {
      padding: 4rem; }
      .marketing .marketingContainer .marketingCardContainer .marketingCardBox .marketingCard .cardItems .cardIcon {
        background-color: var(--white-0);
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        font-size: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem; }
        .marketing .marketingContainer .marketingCardContainer .marketingCardBox .marketingCard .cardItems .cardIcon svg {
          height: 5rem;
          width: 5rem; }

.marketing .marketingContainer2 {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  padding: 5rem 8%; }
  .marketing .marketingContainer2 .marketingStrategy {
    max-width: 60%;
    position: sticky;
    top: 10rem; }
    .marketing .marketingContainer2 .marketingStrategy .line {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
    .marketing .marketingContainer2 .marketingStrategy .char {
      transform: translateY(10rem);
      transition: all 0.1s; }
  .marketing .marketingContainer2 .marketingCardContainer .marketingCardBox .marketingCard {
    margin-bottom: 1rem;
    border-radius: 10px;
    transform: scale(0.95);
    transition: all 0.3s ease-in; }
    .marketing .marketingContainer2 .marketingCardContainer .marketingCardBox .marketingCard:hover {
      transform: scale(1); }
    .marketing .marketingContainer2 .marketingCardContainer .marketingCardBox .marketingCard .cardItems {
      padding: 4rem; }
      .marketing .marketingContainer2 .marketingCardContainer .marketingCardBox .marketingCard .cardItems .cardIcon {
        background-color: var(--white-0);
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        font-size: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem; }
        .marketing .marketingContainer2 .marketingCardContainer .marketingCardBox .marketingCard .cardItems .cardIcon svg {
          height: 5rem;
          width: 5rem; }

.scrollImage {
  padding-bottom: 15%; }
  .scrollImage .scrollImageContainer {
    display: flex;
    align-items: center;
    overflow: hidden; }
    .scrollImage .scrollImageContainer .scrollImageBox {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      object-fit: cover;
      margin-left: 0; }
      .scrollImage .scrollImageContainer .scrollImageBox .scrollImageOne {
        display: flex; }
      .scrollImage .scrollImageContainer .scrollImageBox .scrollImageTwo {
        display: flex; }
      .scrollImage .scrollImageContainer .scrollImageBox .scrollImageThree {
        display: flex; }
      .scrollImage .scrollImageContainer .scrollImageBox .scrollImageFour {
        display: flex; }
  .scrollImage .descriptionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    margin-top: 8rem;
    margin-bottom: 4rem; }
    .scrollImage .descriptionBox .descriptionHeading {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .scrollImage .descriptionBox .line {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      text-align: center !important; }
    .scrollImage .descriptionBox .char {
      transform: translateY(10rem);
      transition: all 0.1s; }
    .scrollImage .descriptionBox .descriptionPara {
      padding: 3rem 10%; }
  .scrollImage .descriptionBox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    margin-top: 8rem;
    margin-bottom: 4rem; }
    .scrollImage .descriptionBox2 .descriptionHeading2 {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .scrollImage .descriptionBox2 .line {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      text-align: center !important; }
    .scrollImage .descriptionBox2 .char {
      transform: translateY(10rem);
      transition: all 0.1s; }
    .scrollImage .descriptionBox2 .descriptionPara {
      padding: 3rem 10%; }
  .scrollImage .runningLogo {
    overflow-x: hidden;
    padding-bottom: 10rem;
    width: 100%;
    display: flex;
    transition: 300ms ease; }
    .scrollImage .runningLogo .runningLogoBox {
      animation: marquee 20s linear infinite; }

.ourWork {
  position: relative; }
  .ourWork .headingBox {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -15rem;
    left: 0; }
    .ourWork .headingBox .workHeading {
      font-family: var(--heading-font);
      font-weight: 600;
      font-size: 30rem;
      color: var(--black-0);
      text-transform: uppercase;
      line-height: 0.9;
      letter-spacing: -0.5rem; }
  .ourWork .ourWorkContainer {
    position: relative; }
    .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox {
      position: absolute;
      left: 0;
      top: 0rem;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      display: flex;
      right: 0; }
      .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox {
        min-width: 35rem;
        margin-left: 4rem; }
        .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox:hover .cardImageBox:after {
          opacity: 1; }
        .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox:hover .cardImage {
          transform: scale(1.4); }
        .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox:nth-of-type(2n) {
          transform: translateY(4rem); }
        .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox .cardLink {
          text-decoration: none; }
        .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox .cardImageBox {
          height: 70vh;
          min-width: 35rem;
          border-radius: 6px;
          overflow: hidden;
          position: relative; }
          .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox .cardImageBox::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 12rem;
            width: 12rem;
            background-color: var(--neon-0);
            border-radius: 50%;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 1024 1024' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z'%3E%3C/path%3E%3C/svg%3E");
            background-size: 4rem;
            background-position: center center;
            opacity: 0;
            transition: all 1s ease; }
          .ourWork .ourWorkContainer .workCardSlideContainer .workCardSlideBox .workCardBox .cardImageBox .cardImage {
            height: 100%;
            width: 100%;
            transition: all 1s ease;
            object-fit: cover; }
    .ourWork .ourWorkContainer .workButton {
      height: 110vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
