:root {
  --black-0: #060616;
  --black-1: #1f1f22;

  --white-0: #f9f8f9;
  --white-1: #ffffff;
  --white-2: #dddddd;

  --neon-0: #c1fd3a;

  --primary-font: "Montserrat", sans-serif;
  --heading-font: "Oswald", sans-serif;
}

// RESPONSIVE BREAKPOINTS
$bp-largest: 62.5em; //1000px
$bp-large: 50em; //800px
$bp-medium: 37.5em; //600px
$bp-small: 32.5em; //520px
