.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);

  .headerContainer {
    padding: 2rem 3rem 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerBrand {
      .brandTitleLink {
        .titleImage {
          width: 100%;
          height: 5rem;
        }
      }
    }

    .headerNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4rem;

      .navButton {
        .navButton__link {
          svg {
            stroke-opacity: 0;
            width: 100%;
            height: 2rem;
            fill: var(--black-1);
          }
        }
      }
    }
  }
}
