.featured {
  padding: 4rem 8%;

  .featuredContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .featuredTextContainer {
      min-width: 24rem;
      position: relative;
      z-index: 10;

      .featuredTextBox {
        .featuredText {
          font-family: var(--primary-font);
          font-size: 1.8rem;
          font-weight: 600;
          text-transform: uppercase;
          padding: 1rem 4rem;
        }
      }
    }

    .featuredLogoBox {
      position: relative;
      z-index: 5;
      width: 100%;
      overflow: hidden;
      display: flex;

      .featuredLogoList {
        display: flex;
        gap: 2rem;
        position: relative;
        z-index: 2;
        animation: marquee 10s linear infinite;

        .featuredLogo {
          img {
            height: 4rem;
          }
        }
      }
    }
  }
}
