.scrollImage {
  .scrollImageContainer {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 120vh;

    .scrollImageBox {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      // gap: 4rem;
      object-fit: cover;
      margin-left: 0;

      .scrollImageOne {
        display: flex;
      }

      .scrollImageTwo {
        display: flex;
      }

      .scrollImageThree {
        display: flex;
      }

      .scrollImageFour {
        display: flex;
      }
    }
  }

  .descriptionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    margin-top: 8rem;
    margin-bottom: 4rem;

    .descriptionHeading {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .descriptionPara {
      padding: 3rem 10%;
    }
  }

  .runningLogo {
    overflow-x: hidden;
    padding-bottom: 10rem;
    width: 100%;
    display: flex;
    transition: 300ms ease;

    .runningLogoBox {
      animation: marquee 20s linear infinite;
    }
  }
}
