.marketing {
  .marketingContainer {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    padding: 5rem 8%;

    .marketingStrategy {
      max-width: 60%;
      position: sticky;
      top: 10rem;

      &__heading {
        overflow: hidden;
        display: block;
      }

      &__description {
      }

      &__button {
        &--link {
        }
      }
    }

    .marketingCardContainer {
      .marketingCardBox {
        .marketingCard {
          margin-bottom: 1rem;
          border-radius: 10px;
          transform: scale(0.95);
          transition: all 0.3s ease-in;

          &:hover {
            transform: scale(1);
          }

          .cardItems {
            padding: 4rem;

            .cardIcon {
              background-color: var(--white-0);
              height: 10rem;
              width: 10rem;
              border-radius: 50%;
              font-size: 10rem;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 4rem;

              svg {
                height: 5rem;
                width: 5rem;
              }
            }

            .cardHeading {
            }

            .cardPara {
            }
          }
        }
      }
    }
  }
}
