.sectionHeading {
  position: relative;
  z-index: 50;

  .headingContainer {
    max-width: 100rem;
    margin-inline: auto;
    padding: 12rem 0;
    text-align: center;
    line-height: 0.85;

    .line {
      overflow: hidden;
      margin-top: -24px;
    }

    .char {
      transition: all 0.3s;
      transform-style: preserve-3d;
      padding-bottom: 24px;
      opacity: 0;
      overflow: hidden;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 8rem;
    }
  }

  .banner {
    position: absolute;
    bottom: -12rem;
    right: 3rem;
    margin-left: auto;
    z-index: 100;
    transition: all 0.2s ease-in;
    overflow: hidden;

    &:hover {
      transform: scale(1.05);
    }

    @media only screen and (max-width: $bp-largest) {
      transform: scale(0.8);
      bottom: -14rem;

      &:hover {
        transform: scale(0.85);
      }
    }

    @media only screen and (max-width: $bp-small) {
      transform: scale(0.6);
      bottom: -14rem;
      right: -3rem;

      &:hover {
        transform: scale(0.65);
      }
    }

    .banner__image {
      border-radius: 50%;
    }
  }
}
