.buttonBlack {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--black-0);
  color: var(--white-0);
  padding: 1.5rem 2rem;
  border-radius: 30px;
  transition: all 0.2s;
  letter-spacing: 1px;

  &:hover {
    background-color: var(--white-1);
    color: var(--black-0);
  }
}

.buttonNeonSlim {
  text-decoration: none;
  background-color: var(--neon-0);
  color: var(--black-0);
  padding: 1.5rem 2rem;
  border-radius: 30px;
  transition: all 0.2s;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    background-color: var(--black-0);
    color: var(--white-0);
  }
}
