.cardBlack {
  background-color: var(--black-0);
}

.cardNeon {
  background-color: var(--neon-0);
}

.headingParaBlack {
  font-family: var(--primary-font);
  font-size: 2.4rem;
  font-weight: 300;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: var(--black-0);
}

.cardParaBlack {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 400;
  color: var(--black-0);
  padding: 1rem 0;
}

.cardParaWhite {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 400;
  color: var(--white-0);
  padding: 1rem 0;
}

.workCardPara {
  font-family: var(--primary-font);
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--black-0);
}

.collaborateParaWhite {
  font-family: var(--primary-font);
  font-size: 2.4rem;
  font-weight: 300;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: var(--white-0);
}
