.cardBlack {
  background-color: var(--black-0);
}

.cardNeon {
  background-color: var(--neon-0);
}

.headingParaBlack {
  font-family: var(--primary-font);
  font-size: 2.4rem;
  font-weight: 300;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: var(--black-0);
}
