.headingBlack {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 12rem;
  color: var(--black-0);
  text-transform: uppercase;
  letter-spacing: -0.5rem;
  line-height: 1;
}

.headingBlackMedium {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 10rem;
  color: var(--black-0);
  text-transform: uppercase;
  letter-spacing: -0.5rem;
  line-height: 1;
}

.headingWhiteMedium {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 14rem;
  color: var(--white-0);
  text-transform: uppercase;
  letter-spacing: -0.5rem;
  line-height: 1;
}

.headingHollow {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 12rem;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--black-0);
  letter-spacing: -0.5rem;
  line-height: 1;
}

.headingHollowMedium {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 10rem;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--black-0);
  letter-spacing: -0.5rem;
  line-height: 1;
}

.headingHollowMediumWhite {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 14rem;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--white-0);
  letter-spacing: -0.5rem;
  line-height: 1;
}

.heading5White {
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 600;
  color: var(--white-0);
}

.heading5Black {
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 600;
  color: var(--black-0);
}

.heading6Black {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black-0);
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-decoration: none;
}

.heading6Neon {
  font-family: var(--primary-font);
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--neon-0);
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
}
